In [2]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import linear_kernel

In [3]:
df_coddi = pd.read_csv('coddi_simple_model.csv')

In [4]:
df_coddi.head()

,item_id,name,latitude,longitude,global_average_rating,reviews_count,plan,review_id,average_rating,timestamp,user_id
0,628858c72e93ec29e035fcd9,'Agua del Manzano',-33.002696,-71.062806,4.00,1,628858c72e93ec29e035fcec,4.00,2016-08-16 10:53:40,628858c72e93ec29e035fceb,NaN
1,628858c72e93ec29e035fced,'Aldea de Tulor',-22.964724,-68.237332,4.00,1,628858c72e93ec29e035fd00,4.00,2015-11-16 03:31:19,628858c72e93ec29e035fcff,NaN
2,628858c72e93ec29e035fd01,'Aguada Los Sapos',-26.165451,-70.630121,3.00,1,628858c72e93ec29e035fd14,3.00,2015-12-14 08:09:36,628858c72e93ec29e035fd13,NaN
3,628858c72e93ec29e035fd15,'Alerce Milenario - Lañilahual',-40.170024,-73.465583,4.50,1,628858c72e93ec29e035fd28,4.50,2015-06-18 02:41:54,628858c72e93ec29e035fd27,NaN
4,628858c72e93ec29e035fd29,'Arboretum',-33.725292,-70.487355,2.25,1,628858c72e93ec29e035fd3c,2.25,2015-08-18 10:30:57,628858c72e93ec29e035fd3b,NaN

In [5]:
df_coddi['reviews_count']

0       1
1       1
2       1
3       1
4       1
       ..
8143    0
8144    0
8145    0
8146    0
8147    0
Name: reviews_count, Length: 8148, dtype: int64

In [7]:
def get_recommendations():
    df_coddi.sort_values(by=['reviews_count'], ascending=False)
    top10 = df_coddi.iloc[:10, df_coddi.columns.get_loc('name')]
    for it in top10:
        print(it)

In [8]:
get_recommendations()

'Agua del Manzano'
'Aldea de Tulor'
'Aguada Los Sapos'
'Alerce Milenario - Lañilahual'
'Arboretum'
'Alto del Naranjo vía San Carlos de Apoquindo'
'Baños Campanario'
'Alto del Naranjo por Puente Ñilhue'
'Baños Azules'
'Baños Coyuco'